// FONTS
$generalFontFamily: 'Roboto',
sans-serif;
$headerFontFamily: 'Montserrat',
sans-serif;
$fontColor: #6f6f6f;


// slider
$sliderTextColor: #232323;
$sliderDotBgColor: #232323;


// Services
$servicesBgColor: #FFFFFF;
$headerRightSideColor: #232323;
$boxTitleRightSideColor: #232323;

// Background
$movieBgColor: #1C1C1C;
$movieH3Color: #FFFFFF;
$movieH4Color: #b7B7B7;

// Works
$headersDefaultH5Color:#939393;
$headersDefaultH2Color: #232323;
$worksBgColor: #F7F7F7;
$imagePhotoBgColorHover: #ff214dc0;
$imagePhotoIconFontColor: #000000;
$imagePhotoIconFontColorBorderHover: #FFFFFF;
$imagePhotoIconFontColorHover: #FFFFFF;
$imagePhotoIconFontBgHover: transparent;
$imageDescriptionBgColor: #FFFFFF;

// Info-Boxes

$infoBoxesBorderColor: #ededed;
$infoBoxesTitleColor: #232323;
$infoBoxesIconColor: #ff214dc0;

// Footer

$FooterLightBgColor: #1c1c1c;
$FooterDarkBgColor: #141414;
$FooterH6Color: #939393;
$FooterTextColor: #6f6f6f;
$FooterBorderColor: #363636;
$FooterIconColor: #ffffff;
$FooterLinkHover: #ff214f;

// Navigation

$navigationLiColor: #232323;
$navigationLiColorHover: rgba(0, 0, 0, 0.6);
$navigationMoveBgColor: #000;
$navigationMoveScrollColor: #fff;
$navigationMoveScrollHoverColor: rgba(255, 255, 255, 0.6);

// Span

$hamburgerBgColor: #fff;

// Mobile menu

$mobileMenuColorBg: #000;