/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: #6f6f6f;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.default-header {
  text-align: center;
}

.default-header h5 {
  color: #939393;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-weight: 300;
}

.default-header h2 {
  color: #232323;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.default-header h2 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .default-header h2 {
    font-size: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

@media screen and (min-width: 1170px) {
  .default-header h2 {
    font-size: 40px;
  }
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.slider .item {
  padding: 50px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider .item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.slider .item .container h1,
.slider .item .container h2 {
  color: #232323;
  width: 55%;
  margin: 0 0 20px 0;
}

.slider .item .container h1,
.slider .item .container h2 {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  .slider .item .container h1,
  .slider .item .container h2 {
    font-size: calc(30px + 40 * ((100vw - 320px) / 850));
  }
}

@media screen and (min-width: 1170px) {
  .slider .item .container h1,
  .slider .item .container h2 {
    font-size: 70px;
  }
}

@media (max-width: 800px) {
  .slider .item .container h1,
  .slider .item .container h2 {
    width: 100%;
    text-align: center;
  }
}

.slider .item .container p {
  color: #232323;
  font-size: 16px;
  width: 55%;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

@media (max-width: 800px) {
  .slider .item .container p {
    width: 100%;
    text-align: center;
  }
}

.slider .owl-theme .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .owl-theme .owl-dots .owl-dot {
  outline: none;
}

.slider .owl-theme .owl-dots .owl-dot.active span {
  background-color: #232323;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .leftside {
  width: 50%;
  background-image: url("../img/services/services-classic.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 900px) {
  .services .leftside {
    width: 100%;
  }
}

.services .leftside img {
  display: none;
}

@media (max-width: 900px) {
  .services .leftside img {
    width: 100%;
    display: block;
  }
}

.services .rightside {
  width: 50%;
  padding: 100px 100px 70px 100px;
  background-color: #FFFFFF;
}

@media (max-width: 1100px) {
  .services .rightside {
    padding: 30px 30px 0 30px;
  }
}

@media (max-width: 900px) {
  .services .rightside {
    width: 100%;
  }
}

.services .rightside h3 {
  color: #232323;
  margin: 0 0 40px 0;
}

.services .rightside h3 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .services .rightside h3 {
    font-size: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

@media screen and (min-width: 1170px) {
  .services .rightside h3 {
    font-size: 40px;
  }
}

.services .rightside .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.services .rightside .boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 15px;
  margin: 0 0 30px 0;
}

@media (max-width: 500px) {
  .services .rightside .boxes .box {
    width: 100%;
  }
}

.services .rightside .boxes .box span {
  color: #232323;
}

.services .rightside .boxes .box p {
  line-height: 20px;
  font-size: 15px;
}

.services .rightside .boxes .box .icon {
  font-size: 30px;
  margin: 0 30px 0 0;
}

.movie {
  background-color: #1C1C1C;
  padding: 100px 0;
}

@media (max-width: 800px) {
  .movie {
    padding: 50px 0;
  }
}

.movie .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie .container .photo {
  width: 50%;
  padding: 0 15px;
}

@media (max-width: 800px) {
  .movie .container .photo {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

.movie .container .photo a {
  display: block;
  position: relative;
}

.movie .container .photo a:hover .play {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
          transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.movie .container .photo a .footage {
  display: block;
  width: 100%;
}

.movie .container .photo a .play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
          transform: translateX(-50%) translateY(-50%) scale(0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.movie .container .data {
  width: 50%;
  padding: 0 15px;
}

@media (max-width: 800px) {
  .movie .container .data {
    width: 100%;
  }
}

.movie .container .data h3 {
  margin: 0 0 20px 0;
  color: #FFFFFF;
}

.movie .container .data h3 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .movie .container .data h3 {
    font-size: calc(20px + 16 * ((100vw - 320px) / 850));
  }
}

@media screen and (min-width: 1170px) {
  .movie .container .data h3 {
    font-size: 36px;
  }
}

.movie .container .data h4 {
  color: #b7B7B7;
  margin: 0 0 20px 0;
}

.movie .container .data h4 {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .movie .container .data h4 {
    font-size: calc(15px + 5 * ((100vw - 320px) / 850));
  }
}

@media screen and (min-width: 1170px) {
  .movie .container .data h4 {
    font-size: 20px;
  }
}

.movie .container .data p {
  margin: 0;
  color: #6f6f6f;
  line-height: 1.5;
}

.works {
  background-color: #F7F7F7;
  padding: 100px 0;
}

.works .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.works .projects .project {
  width: calc(100% /3);
  padding: 0 15px;
}

@media (max-width: 990px) {
  .works .projects .project {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .works .projects .project {
    width: 100%;
  }
}

.works .projects .project .description {
  text-align: center;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 0 0 30px 0;
}

.works .projects .project .description p:first-of-type {
  color: #939393;
}

.works .projects .project .description p:last-of-type {
  color: #232323;
}

.works .projects .project:hover .photo .icons-photo {
  opacity: 1;
}

.works .projects .project .photo {
  position: relative;
}

.works .projects .project .photo img {
  width: 100%;
  display: block;
}

.works .projects .project .photo .icons-photo {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff214dc0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works .projects .project .photo .icons-photo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #FFFFFF;
}

.works .projects .project .photo .icons-photo a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #FFFFFF;
  background-color: transparent;
}

.works .default-header {
  margin: 0 0 100px 0;
}

.info-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-boxes .box {
  width: 25%;
  padding: 50px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center;
}

@media (max-width: 1000px) {
  .info-boxes .box {
    width: 50%;
  }
  .info-boxes .box:nth-of-type(2n) {
    border-right: none;
  }
}

@media (max-width: 500px) {
  .info-boxes .box {
    width: 100%;
    border-right: none;
  }
}

.info-boxes .box:last-of-type {
  border-right: none;
}

.info-boxes .box i {
  font-size: 50px;
  color: #ff214dc0;
  margin-bottom: 30px;
}

.info-boxes .box .title {
  font-weight: 700;
  color: #232323;
  margin: 0 0 20px 0;
}

.info-boxes .box .description {
  font-size: 15px;
  line-height: 1.5;
}

.menuOpen {
  overflow: hidden;
}

.menuOpen .navigation .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}

.menuOpen .navigation .container .menu li {
  margin: 0 0 10px 0;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 30px 0 30px 0;
}

.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .container .logo .logo-white {
  display: none;
}

.navigation .container .logo img {
  height: 30px;
}

.navigation .container .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .navigation .container .menu {
    display: none;
  }
}

.navigation .container .menu li {
  margin-right: 35px;
}

.navigation .container .menu li:last-child {
  margin: 0;
}

.navigation .container .menu li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #232323;
  display: block;
}

.navigation .container .menu li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation .container .hamburger {
  display: none;
  width: 30px;
  height: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
}

@media (max-width: 1000px) {
  .navigation .container .hamburger {
    display: block;
  }
}

.navigation .container .hamburger.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}

.navigation .container .hamburger.active span:nth-of-type(2) {
  display: none;
}

.navigation .container .hamburger.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.navigation .container .hamburger span {
  background-color: #fff;
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
}

.navigation .container .hamburger span:nth-of-type(1) {
  top: 0;
  left: 0;
}

.navigation .container .hamburger span:nth-of-type(2) {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation .container .hamburger span:nth-of-type(3) {
  left: 0;
  bottom: 0;
}

@media (max-width: 1000px) {
  .navigation {
    background-color: #000;
  }
  .navigation .container .logo .logo-white {
    display: block;
  }
  .navigation .container .logo .logo-black {
    display: none;
  }
  .navigation .container .menu li a {
    color: #fff;
  }
  .navigation .container .menu li a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (min-width: 1001px) {
  .navigation.move {
    background-color: #000;
  }
  .navigation.move .container .logo .logo-white {
    display: block;
  }
  .navigation.move .container .logo .logo-black {
    display: none;
  }
  .navigation.move .container .menu li a {
    color: #fff;
  }
  .navigation.move .container .menu li a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

footer {
  background-color: #1c1c1c;
}

footer a {
  color: #6f6f6f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer a:hover {
  color: #ff214f;
}

footer .lightFooter {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .item {
  width: 25%;
  padding-left: 45px;
  padding-right: 15px;
  border-right: 1px solid #363636;
  font-size: 12px;
  line-height: 1.5;
}

footer .item:first-of-type {
  padding-left: 0;
}

footer .item:last-of-type {
  border: none;
}

footer .item h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: #939393;
  font-size: 13px;
}

footer .item.socialMedia ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 30px;
}

footer .item.socialMedia ul li {
  margin-right: 15px;
}

footer .item.socialMedia ul li a {
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .item.socialMedia ul li a:hover {
  color: #ff214f;
}

footer .item.links a {
  display: block;
  line-height: 2;
}

footer .item.contact {
  line-height: 1.8;
}

footer .item.instagram .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

footer .item.instagram .portfolio .picture {
  width: calc(100%/3);
  padding: 0 10px 10px 0;
}

footer .item.instagram .portfolio .picture a {
  position: relative;
}

footer .item.instagram .portfolio .picture a:before {
  content: '';
  position: absolute;
  height: 0;
  width: 100%;
  background-color: rgba(35, 35, 35, 0.8);
  bottom: 3px;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .item.instagram .portfolio .picture a:hover:before {
  color: white;
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
  text-align: center;
  height: 140%;
}

footer .item.instagram .portfolio .picture img {
  width: 100%;
}

footer .darkFooter {
  background-color: #141414;
  padding: 50px 0;
  font-size: 12px;
}

footer .darkFooter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
